/.AgregarAccionWindow.java._trace
/.AgregarAccionWindow.xtendbin
/AgregarAccionWindow.java
/.GatoEncerradoWindow.java._trace
/.IrAOtraHabitacionWindow.java._trace
/.crearLaberintoWindow.java._trace
/.CrearLaberintoWindow.java._trace
